<mat-form-field floatLabel="never">
    <input matInput [placeholder]="placeholder" [(ngModel)]="value" [matAutocomplete]="auto">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
    <button *ngIf="removeButton" matSuffix mat-icon-button (click)="removeInput()" [color]="'warn'">
        <mat-icon>remove_circle_outline</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let city of filtered_cities | async" [value]="city.name">
            {{city.name | capitalize}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>