:host {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

cl-map {
    position: absolute;
    height: 100%;
    width: 100%;
}

cl-panel {
    z-index: 1000;
    right: 1rem;
    top: 5%;
    width: 20%;
    height: 90%;
    position: absolute;
}