:host {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

cl-map {
    position: absolute;
    height: 100%;
    width: 100%;
}

cl-panel {
    z-index: 1000;
    right: 1rem;
    top: 5%;
    width: 20%;
    height: 90%;
    position: absolute;
}

@media (max-width: 640px) {
    mat-toolbar {
        width: 100%;
    }
    #fill {
        flex: 1 1 auto;
    }
    cl-panel {
        z-index: 1000;
        top: 56px;
        right: 0;
        height: 100%;
        position: absolute;
        transition: width 1s;
    }
}