:host {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

cl-map {
    position: absolute;
    height: 100%;
    width: 100%;
}

cl-panel {
    z-index: 1000;
    right: 1rem;
    top: 5%;
    width: 20%;
    height: 90%;
    position: absolute;
    transition: width 1.5s;
}

#doc {
    background-color: white;
    color: cornflowerblue;
    width: auto;
    position: absolute;
    float: bottom;
    z-index: 500;
    left: 10px;
    bottom: 10px;
    padding: .2rem;
    border-radius: 4px;
    a {
        text-decoration: none;
    }
}

@media (max-width: 900px) {
    cl-panel {
        width: 30%;
    }
}

@media (max-width: 640px) {
    mat-toolbar {
        width: 100%;
    }
    #fill {
        flex: 1 1 auto;
    }
    cl-panel {
        z-index: 1000;
        top: 56px;
        right: 0;
        height: 100%;
        position: absolute;
        transition: width 1s;
    }
}