<button [type]="type" *ngIf="style === 'flat'" mat-stroked-button [color]="color" [disabled]="disabled">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
<button [type]="type" *ngIf="style === 'icon'" mat-icon-button [color]="color" [disabled]="disabled">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
<button [type]="type" *ngIf="style === 'circle'" mat-fab [color]="color" [disabled]="disabled">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<ng-template #content>
    <ng-content></ng-content>
</ng-template>